

  .divf{

    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:-70px; 
     margin-right: 90px;
    

    /* background-color: rgba(10, 36, 49, 0.87); */
    background-color: rgba(255, 255, 255, 0.678);

    color: white;
    border-radius: 10px;
    height:auto;
    box-shadow: 5px 5px #9b919055;
    overflow:auto;
    float: left;
  }
  
  .divb{
    width: 550px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -80px; 
     margin-right: 100px;

     background-color: rgba(255, 255, 255, 0.678);
     color: white;
    position: relative;
    right: -250px;
  border-radius: 10px;
    height:600px;

    box-shadow: 5px 5px #9b919055;
    overflow:auto;
    float: left;
    padding-left: ;
  }