.head{
  font-family: 'Merienda One', cursive;
    font-weight: 60px;
  background-color: white;
  padding: 50px;
  color: #8c2f39;
}

.homebk{
  /* background-image: url(./assests/ssu.jpg); */
  width: auto;
  height: 600px;
  background-repeat: no-repeat;
}
.hr {
  width: 400px;
  height: 1px;
  background-color: #ccc;
  border: none;

}

.list
{
  margin-left: 600px;
  font-family: 'Merienda One', cursive;
  color: #997b66;
  text-transform: uppercase;

}

.img{
  background-color: #FFF;

}
  .img:hover {
    transform: scale(1.1);
    opacity:0.8;

  }

  .slider{
    height: 300px;
    margin-bottom: 50px;
  }


.container {
  background-color: rgb(20, 20, 20);
 margin-top: 50px;
padding: 60px;
text-align: center;
background-color: rgb(20 20 20 / 91%);
margin-top: 50px;
padding: 50px;
box-shadow: -20px 20px 15px  rgba(83, 81, 81, 0.945);
margin-bottom: 100px;


}

.link{
  color: #8c2f39;
}


.classCont{
  position: relative;
  width: 20rem;
  height: 17rem;
}



.overlay {
  /* margin-left: 15px; */
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
background-color: rgba(0,0,0,.6);
color: #ccc;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.2rem;
padding-top: 6rem;
padding-bottom: 6rem;
opacity: 0;
text-align: center;
}

.overlay:hover{
  opacity: 1;
}